ul.footer-links {
    row-gap: 20px;
    column-gap: 30px;
    a {
        color: $text;
        &:hover {
            color: $highlight;
        }
    }
}



.photonic{
    a{
        color: $text;
        &:hover {
            color: white;
        }
    }
}