// 漢堡選單

.burger-menu {
    width: 48px;
    height: 48px;
    top: 15px;
    right: 15px;
    z-index: 99;
    cursor: pointer;
    background-color: $title;
    border-radius: 50%;
    .burger {
        position: absolute;
        background: white;
        width: 15px;
        height: 2px;
        top: 23px;
        left: 10px;
        opacity: 1;
    }
}

.burger::after,
.burger::before,
.burger {
    transition: all 0.3s ease-in-out;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    background: white;
    width: 25px;
    height: 2px;
    display: block;
}

.burger::before {
    top: 10px;
}

.burger::after {
    bottom: 10px;
}

// 側邊選單

.offcanvas-collapse {
    position: fixed;
    top: 0px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 80%;
    z-index: 100;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #b3afaf;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    @include xsmall {
        width: 40%;
    }
    @include medium {
        width: 30%;
    }
    @include large {
        max-width: 20%;
    }
}
.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.offcanvas-collapse a {
    color: white;
    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: white;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
    }
    &:hover, &.active{
        &::after{
            width: 100%;
        }
    }
}

// 麵包屑

.breadcrumb {
    a {
        color: $text;
    }
    .active {
        color: $highlight;
    }
}


//懸浮按鈕

.bottom-menu{
    position: fixed;
    bottom: 2rem;
    right: 15px;

}


// #bottom-menu-switch{
// 	position: absolute;
// 	opacity: 0;
// 	z-index: -1;
// }
// .switch-label{
//     cursor:pointer;
//     transform: translateY(0px) rotate(180deg);
//     position: fixed;
//     right: 15px;
//     bottom: 2rem;
//     @include small{
//         position: absolute;   
//         bottom: auto;   
//         top:-20%;
//     }
//     @include xxlarge{
//         right: -10%;
//     }
// }

// #bottom-menu-switch:checked + .switch-label{
//     bottom: 10rem;
//     transform: rotate(0deg);
//     @include small{
//         bottom: auto;
//         transform: translateY(-72px) rotate(0deg);
//     }
   
// } 

// .bottom-menu {
//     visibility: hidden;
//     right: 15px;
//     position: fixed;
//     bottom: 1.6rem;
   
//     @include small{
//         position: absolute;     
//         bottom: auto; 
//         top:-20%;
//         // transform: translateY(-80px);
//     }  
//     @include xxlarge{
//         right: -10%;
//     }
  
// }
// #bottom-menu-switch:checked ~ .bottom-menu{
//     visibility: visible;
//     @include xsmall{
//         // transform: translateY(0);      
//     }
// }


