.case-banner{
    min-height: 250px;
    @include large{
        min-height: auto;
    }
}



.case-list {
    min-height: 60vh;
    .item {
        a{
            color: $text;
            column-gap: 3%;
            transition: 0.5s ease-in-out;
            @include medium{
                column-gap: 5%;
            }
            &:hover{
                background-color: #000000;
                opacity: 0.5;   
            }
        }
        &:not(:last-child) a{
            border-bottom: 1px solid #cccccc;
        }  
        .title{
            color: $highlight;
            min-width: 20%;
            max-width: 20%;
        }
        .subtitle {
            min-width: 25%;
            max-width: 25%;
          }
          .text {
            min-width: 22%;
            max-width: 22%;
            @include small{
                min-width: 28%;
                max-width: 28%;
            }
            @include xlarge{
                min-width: 30%;
                max-width: 30%;
            }
          }
    }
}



.back{
    color:$text;
    &:hover{
        color:$highlight;
    }
}