.banner-carousel .owl-dots {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
}

.banner-carousel.owl-theme .owl-dots .owl-dot span {
  background: white;
}

.banner-carousel.owl-theme .owl-dots .owl-dot.active span,
.banner-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: $btn-gray;
}



.video-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  min-height: 230px;
  @include xsmall {
    min-height: 310px;
  }
  // @include small {
  //     min-height: 380px;
  // }
  @include medium {
    min-height: 430px;
  }
  @include large {
    min-height: 580px;
  }
  @include xlarge {
    min-height: 680px;
  }
  // @include xxlarge {
  //     min-height: 780px;
  //     max-height: 930px;
  // }
}

.video {
  width: 85%;
  min-height: 150px;
  @include xsmall {
    min-height: 230px;
  }
  // @include small {
  //     min-height: 310px;
  // }
  @include medium {
    min-height: 350px;
  }
  @include large {
    width: 100%;
    min-height: 500px;
  }
  @include xlarge {
    min-height: 600px;
  }
  // @include xxlarge {
  //     width: 100%;
  //     min-height: 700px;
  //     max-height: 850px;
  // }
}

.case-area h2,.faq-area h2, .case-info-title {
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0%;
    top: 50%;
    z-index: -1;
  }
}

.case-area h2{
     &:before{
        background-color: white; 
     }
    span {
        background-color: $bg-darkgray;
      }
}

.faq-area h2, .case-info-title{
    color: $title;
    &:before{
        background-color: #000000; 
     }
    span {
        background-color: $bg-gray;
      }
}


.case-carousel {
    transform: rotate(90deg);
    // overflow:hidden;
    .owl-stage-outer{
        overflow:visible;
    }
  .item {
    height: auto;
    width:100%;
    transform: rotate(-90deg);
    column-gap: 8%;
  }
  .title {
    min-width: 15%;
    max-width: 15%;
    color: $highlight;
  }
  .subtitle {
    min-width: 20%;
    max-width: 20%;
  }
  .text {
    min-width: 25%;
    max-width: 25%;
  }
}
.case-carousel .item:not(:last-child) {
  border-bottom: 1px solid $table-line;
}


.faq-area{
    .card{
        border: 1px solid $highlight;
    }
    .card-header{
        border-bottom: 0;
    }
    .question-title{
        color:$text;
    }
    .card-body{
        padding:0 1.25rem 0.75rem 1.75rem;
    }
    .know-more{
      background-color:#000000;
        color:#ffffff;
        &:hover{
            background-color: $text;
        }
    }
}