<div class="position-relative">
    <ul class="footer-links container d-flex flex-wrap list-unstyled py-5">
        <li>
            <a href="###">法定公開揭露事項<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>
        <li>
            <a href="###">機構投資人盡職治理<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>
        <li>
            <a href="###">洗錢防制專區<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>
        <li>
            <a href="###">股東專區<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>
        <li>
            <a href="###">隱私權聲明<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>
        <li>
            <a href="###">瀏覽器建議<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>
        <li>
            <a href="###">國內外幣清算<span class="material-icons align-top ml-1"> open_in_new </span></a>
        </li>

        <button type="button" class="desktop-page-top-btn d-none d-md-flex justify-content-center align-items-center">
            <span class="material-icons go-to-top"> expand_less </span>
        </button>

        <ul class="d-none d-md-flex flex-column list-unstyled desktop-bottom-menu ">
            <li>
                <a class="img-container mb-10 line-icon" href="###">
                    <img src="./frontEndPackage/images/line.png" alt="line icon" />
                </a>
            </li>
            <li>
                <a class="img-container call-icon" href="###">
                    <img src="./frontEndPackage/images/phone.png" alt="call icon" />
                </a>
            </li>
        </ul>
    </ul>
</div>
