<footer class="bg-darkgray py-12">
    <div class="container d-flex flex-column flex-md-row justify-content-md-between">
        <span class="text-white">Copyright © 詠鑫國際行銷有限公司. All rights reserved.</span>
        <ul class="photonic d-flex list-unstyled mb-0">
            <span>傳訊光科技:&nbsp</span>
            <li>
                <a target="_blank" class="text-photonic" href="https://shop.photonic.com.tw/" target="_blank"
                    >購物車&nbsp</a
                >/&nbsp
            </li>
            <li>
                <a target="_blank" class="text-photonic" href="https://www.photonic.com.tw/" target="_blank"
                    >網頁設計&nbsp</a
                >/&nbsp
            </li>
            <li>
                <a target="_blank" class="text-photonic" href="http://erp2000.com/" target="_blank">CRM</a>
            </li>
        </ul>
    </div>
</footer>

<section class="mobile-fixed-footer d-block d-md-none">
    <button type="button" class="mobile-page-top-btn d-flex d-md-none justify-content-center align-items-center">
        <span class="material-icons go-to-top"> expand_less </span>
    </button>

    <ul class="container d-flex list-unstyled mobile-bottom-menu mb-0 justify-content-center align-items-center">
        <li class="w-50 d-flex justify-content-center align-items-center">
            <a class="" href="###">
                <img src="./frontEndPackage/images/line.png" alt="line icon" />
            </a>
        </li>
        <li class="w-50 d-flex justify-content-center align-items-center">
            <a class="" href="###">
                <img src="./frontEndPackage/images/phone.png" alt="call icon" />
            </a>
        </li>
    </ul>
</section>
