<nav class="side-menu">
    <a class="burger-menu position-absolute" type="button" data-toggle="offcanvas">
        <span class="burger"></span>
    </a>

    <div class="navbar-collapse offcanvas-collapse d-flex flex-column">
        <a type="button" data-toggle="offcanvas" class="ml-auto mt-3"
            ><span class="material-icons"> clear </span></a
        >
        <ul class="list-unstyled text-center">
            <li>
                <a id="nav-faq" class="nav-link position-relative" href="./faq.php">FAQ</a>
            </li>
            <li>
                <a id="nav-case" class="nav-link position-relative" href="./case.php">成功案例</a>
            </li>
        </ul>
    </div>
</nav>