<footer class="bg-darkgray py-12">
  <div
    class="container d-flex flex-column flex-md-row justify-content-md-between"
  >
    <span class="text-white"
      >Copyright © 詠鑫國際行銷有限公司. All rights reserved.</span
    >
    <ul class="photonic d-flex list-unstyled mb-0">
      <span>傳訊光科技:&nbsp</span>
      <li>
        <a
          target="_blank"
          class="text-photonic"
          href="https://shop.photonic.com.tw/"
          target="_blank"
          >購物車&nbsp</a
        >/&nbsp
      </li>
      <li>
        <a
          target="_blank"
          class="text-photonic"
          href="https://www.photonic.com.tw/"
          target="_blank"
          >網頁設計&nbsp</a
        >/&nbsp
      </li>
      <li>
        <a
          target="_blank"
          class="text-photonic"
          href="http://erp2000.com/"
          target="_blank"
          >CRM</a
        >
      </li>
    </ul>
  </div>
</footer>
